@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:text-orange-100 h-screen text-stone-700 bg-[url('/bg-light.svg')] dark:bg-[url('/bg-dark.svg')] bg-no-repeat bg-cover overflow-x-hidden;
  }
}

@layer components {
  .input {
    @apply block w-full rounded-md bg-transparent focus:border-2 border-purple-400 shadow-sm focus:border-purple-600 focus:ring focus:ring-0 focus:ring-opacity-50;
  }
  .input-password {
    @apply relative;
  }
  .button {
    @apply p-2 border border-transparent tracking-wide inline-flex justify-center align-middle rounded-md duration-200 ease-in-out hover:scale-105;
  }
}
