@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-orange-100 dark:text-stone-700 bg-stone-200 dark:bg-stone-900;
  }
  /* 
  use @layer and [css-selector] { @apply tailwind classes...; } to create custom classes or apply styles
  Example:
  body {
    @apply bg-white;
  }
  */
}

@layer components {
  .button {
    @apply p-2  border border-transparent tracking-wide inline-flex  justify-center align-middle rounded-md duration-200 ease-in-out hover:scale-105;
  }
}
